:root{
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  --text-primary:#b6b6b6;
  --text-secondary:#ececec;
  --bg-primary:#23232e;
  --bg-secondary:#141418;
  --transition-speed: 600ms;
}

/* Animation to popup-content */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

body{
  margin: 0;
  padding: 0;
}

/* NAV-BAR */
.fa-plus-circle,
.fa-calendar-alt,
.fa-tasks,
.fa-chevron-circle-right{
  font-size: 3em;
  color: #5cb5fd;
}

.navbar-container{
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}

.navbar-nav{
  list-style: none;
  padding:0;
  margin:0;
  display: flex;
  flex-direction: column;
}

.nav-item{
  width: 100%;
}

.nav-link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  color:var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover{
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text{
  display: none;
  margin-left: 1rem;
}

.logo{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo
.fa-chevron-circle-right{
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar-container:hover
.logo 
.fa-chevron-circle-right{
  transform: rotate(-360deg);
}


/*MAIN*/
main{
  margin-left: 5rem;
}

.title{
  text-align: center;
  font-family: 'Pacifico', cursive;
  width: 40%;
  margin: 2% auto;
  border-radius: 20px;
}

.title:hover{
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

/*Container with todos*/
.containerTodos{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 200ms ease;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.todo:hover{
  cursor: pointer;
  background: var(--text-secondary);
}

.lhs{
  display: flex;
  align-items: center;
  width: 25%;
  word-break: break-all;
}

.lhs p{
  margin-left: 5px;
  word-break: break-word;
}

.fa-trash-alt:hover{
  color: #f03333;
}

.far{
  margin-left: 5px;
}

.fa-edit:hover{
  color: gray;
}

/*Container with projects*/

.containerProjects{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project{
  background-color: var(--bg-primary);
  padding: 0 10px 0 10px; 
  width: 10%;
  text-align: center;
  font-family: 'Pacifico', cursive;
  margin-top: 1%;
  word-wrap: break-word;
  cursor: pointer;
  color: white;
  transition: 200ms ease;
  animation-name: animatetop;
  animation-duration: 0.2s
}

.project:hover{
  color: #5cb5fd;
}

.iEdit,
.iDelete{
  color: white;
}

.iEdit:hover{
  color: #5cb5fd;
}



/*POPUP-SCREEN*/
.popup{
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popup-content{
  min-height: 45vh;
  width: clamp(20%,50%,70%);
  background: #fff;
  padding: 5%;
  border-radius: 5px;
  margin-left: 5rem;
  position: relative;
  transition: 200ms ease;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.popup-content
input{
  margin: 5% auto;
  display: block;
  width: 90%;
  padding: 3%;
  border: 1px solid gray;
}

.priorities{
  display: inline-block;
}

.btnAddTodo{
  font-family: Arial, Helvetica, sans-serif;
  background: #2b2e30;
  padding: 3% 9%;
  color: #fff;
  font-weight: bolder;
  font-size: 100%;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px #000000bf;
  text-decoration: none;
  transition: 0.4s;
  display: block;
  margin-top: 6%;
}

#btnAdd,
#btnEdit{
  display: none;
}

#edit{
  display: none;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar-container {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }

    .navbar-container:hover .link-text {
        display: none;
    }
  
    main {
      margin: 0;
    }

    .popup-content{
      margin-right: 0;
      margin-left: 0;
    }

    .project{
      margin-top: 10%;
      flex-basis: 33.33%;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar-container {
      top: 0;
      width: 5rem;
      height: 100vh;
    }

    .nav-item{
        margin-top: 20px;
    }
  
    .navbar-container:hover {
      width: 16rem;
    }
  
    .navbar-container:hover .link-text {
      display: inline;
    }
  
    .navbar-container .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar-container .logo-text
    {
      left: 0px;
    }
  }